* {
    margin: 0;
    padding: 0; 
}

.contenedorfooter {
    display: flex;
    background: #ffffff;
    color: #194973;
    justify-content: space-around;
    padding: 2.5rem;
}

.contenedorespecialidades1 {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    line-height: 1.5rem;
    padding-bottom: 1.25rem
}
.contenedorespecialidades1 h2 {
    font-size: 1.5em;
    line-height: 2rem;
    padding-bottom: 1.25rem
}
.contenedorespecialidades2 {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    line-height: 1.5rem;
    padding-bottom: 1.25rem
}
.contenedorespecialidades2 h2 {
    font-size: 1.5em;
    line-height: 2rem;
    padding-bottom: 1.25rem
}
.contenedorespecialidades3 {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    line-height: 1.5rem;
    padding-bottom: 1.25rem
}
.contenedorespecialidades3 h2 {
    font-size: 1.5em;
    line-height: 2rem;
    padding-bottom: 1.25rem
}

.especialidades1 {
    color:#194973;
    padding: 0.25rem;
}

.especialidades1:hover {
    color: #71C648;
}

.especialidades2 {
    color: #194973;
    padding: 0.25rem;
}

.especialidades2:hover {
    color: #71C648;
}
.especialidades3 {
    color: #194973;
    padding: 0.25rem;
}
.especialidades3:hover {
    color: #194973;
}

.contenedorlogo {
    position: relative;

}

.contenedorlogo img {
    height: 8rem;
    width: 8rem;
}

.contenedorlogo p {
    width: 18rem;
    font-size: 1em;
    position: relative;
    bottom: 2.5rem;
    color: #194973;
}


.contenedoravisos {
    display: flex;
    background: #ffffff;
    justify-content: space-between;
}

.contenedorprivacidad {
    display: flex;
    background: #ffffff;
    color: #194973;
    justify-content: flex-start;
    padding-left: 7rem;
    padding-bottom: 1.25rem;
    gap: 0.5rem
}


.privacidadtexto:hover {
    color: #71C648;
}

.privacidaddiv {
    background: #194973;
    height: 1.25rem;
    width: .120rem
}


.contenedorredes {
    display: flex;
    gap: 0.5rem;
    margin-right: 10rem;
}

.contenedorredes img {
    height: 2.5rem;
    width: 2.5rem;
}

.contenedorderechos {
    display: flex;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: #000000;
}

@media screen and (max-width:480px) {

    .contenedorfooter {
        justify-content: space-around;
        padding: 2rem;
        gap: 16px;
    }
    .contenedorespecialidades1 {
        font-size: 0.75em;
        line-height: 0.75rem;
        
    }

   
    .contenedorespecialidades1 h2{
        margin-bottom: 1rem;
    }

    .contenedorespecialidades2 {
        font-size: 0.75em;
        line-height: 0.75rem;
        
    }
    
    .contenedorespecialidades3 {
        font-size: 0.75em;
        line-height: 0.75rem;
        
    }
   
    .contenedorlogo {
        display: none;
    }
    .contenedoravisos {
        gap: .3125rem;
    }
    .contenedorprivacidad {
        padding-left: .25rem;
        font-size: 0.75em;
        gap: .125rem;
    }

    .privacidaddiv {
        background: #ffffff;
        height: 1.25rem;
        width: .0625rem
    }
    .contenedorredes {
        margin-right: 1rem;
    }

    .contenedorredes img {
        height: 1.25rem;
        width: 1.25rem;
    }

    .contenedorderechos {
        font-size: 0.75em;
        height: 2rem;
    }
}

@media screen and (max-width:720px){

    .contenedorfooter {
        justify-content: space-around;
        padding: 2rem;
        gap: 16px;
    }
    .contenedorespecialidades1 {
        font-size: 0.75em;
        line-height: 0.75rem;
        padding-bottom: 1.25rem
    }
    .contenedorespecialidades1 h2 {
        font-size: 1.2em;
        line-height: 1rem;
        padding-bottom: 2rem
    }
    .contenedorespecialidades2 {
        font-size: 0.75em;
        line-height: 0.75rem;
        padding-bottom: 1.25rem
    }
    .contenedorespecialidades2 h2 {
        font-size: 1.2em;
        line-height: 1rem;
        padding-bottom: 2rem
    }

    .contenedorespecialidades3 {
        font-size: 0.75em;
        line-height: 0.75rem;
        padding-bottom: 1.25rem
    }
    .contenedorespecialidades3 h2 {
        font-size: 1.2em;
        line-height: 1rem;
        padding-bottom: 2rem
    }


    .contenedorlogo {
        position: relative;
    
    }
    
    .contenedorlogo img {
        height: 6rem;
        width: 6rem;
    }
    
    .contenedorlogo p {
        width: 18rem;
        font-size: 0.75em;
        position: relative;
        bottom: 2.5rem;
        color: #ffffff;
    }
    
    .contenedoravisos {
        gap: .3125rem;
    }
    .contenedorprivacidad {
        padding-left: .25rem;
        font-size: 0.75em;
        gap: .125rem;
    }

    .privacidaddiv {
        background: #ffffff;
        height: 1.25rem;
        width: .0625rem
    }
    .contenedorredes {
        margin-right: 1rem;
    }

    .contenedorredes img {
        height: 1.25rem;
        width: 1.25rem;
    }

    .contenedorderechos {
        font-size: 0.75em;
        height: 2rem;
    }
}


