
.contenedorMstra {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/moFondo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
}