* {
    margin: 0;
    padding: 0;
}


.contenedorstrategy {
    display: flex;
    background: #194973;
    justify-content: start;
    align-items: center;
    height: 15.625rem;
    color: #ffffff;
    padding-left: 5rem;
    gap: 10rem;
}

.medicos:hover {
    color: #71C648;
}


.linea1 {
    font-size: 2.15em;
    line-height: 2.5rem;
    font-weight: 700
}

.linea2 {
    font-size: 1.3em;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 2rem
}

.contenedortexto button {
    height: 3.2rem;
    width: 10.875rem;
    border-radius: 0.25rem;
    border-width: .0625rem;

}

.grupo1 {
    display: flex;
    gap: 3rem;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 5rem;
}

.grupo2 {
    display: flex;
    gap: 3rem;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 5rem;
}


@media screen and (max-width:480px) {

    .contenedorstrategy {

        padding-left: 2rem;
        gap: 1.8rem;

    }

    .linea1 {
        font-size: 1.3em;
        line-height: 2.5rem;
        font-weight: 700
    }

    .linea2 {
        font-size: 0.9em;
        line-height: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .contenedortexto button {
        height: 2.5rem;
        width: 7.875rem;
        font-size: 0.75em;
        line-height: 0.8rem;
    }

    .grupo1 {
        flex-direction: column;
        font-size: 0.9em;
        line-height: 0.9rem;
        margin-bottom: 0.7rem;
        margin-left: 2.8rem;
        gap: 0.5rem;
    }


    .grupo2 {
        flex-direction: column;
        font-size: 0.9em;
        line-height: 0.9rem;
        margin-left: 2.8rem;
        gap: 0.5rem;
    }

}

@media screen and (max-width: 720px) {
    .linea1 {
        font-size: 1.6em;
    }

    .linea2 {
        font-size: 1em;
    }

    /* .contenedortexto button {
        height: 3rem;
        width: 8.5rem;
        font-size: 0.9em;
        line-height: 0.8rem;
    } */


}